/**
 * Button Container
 *
 * These styles are common to all button containers, regardless of shape or style.
 */
.swfw-follow-container {
  background-color: lightgreen;
  display: flex;
  cursor: pointer;
}
.swfw-follow-container.square {
  flex-flow: row wrap;
}
.swfw-follow-container.irregular {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: space-between;
}
.swfw-follow-container .swfw-container-message {
  font-weight: bold;
}

/**
 * Individual Buttons
 *
 * These styles are common to all Follow buttons, regardless of shape or style.
 */
.swfw-follow-button {
  background: cyan;
}
.swfw-follow-button .swfw-text {
  position: relative;
  color: #030303;
  font-family: "Helvetica", sans-serif;
}
.swfw-follow-button .swfw-text .swfw-count {
  font-weight: normal;
}
.swfw-follow-button .swfw-text .swfw-cta {
  font-weight: bold;
}

/**
 * Square Buttons
 */
.swfw-follow-button.square {
  width: 55px;
  height: 58px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  margin: 15px;
}
.swfw-follow-button.square .swfw-network-icon {
  font-size: 20px;
}
.swfw-follow-button.square .swfw-text {
  width: 100%;
}
.swfw-follow-button.square .swfw-cta,
.swfw-follow-button.square .swfw-count {
  display: block;
  width: 100%;
  position: absolute;
}
.swfw-follow-button.square .swfw-count {
  opacity: 1;
  transition: opacity 300ms 0;
  font-size: 12px;
}
.swfw-follow-button.square .swfw-cta {
  opacity: 0;
  transition: opacity 300ms 0;
}
.swfw-follow-button.square:hover .swfw-count {
  opacity: 0;
  transition: opacity 300ms 300ms;
}
.swfw-follow-button.square:hover .swfw-cta {
  opacity: 1;
  transition: opacity 300ms 300ms;
}

/**
 * Irregular buttons
 */
.swfw-follow-button.irregular {
  display: flex;
  flex-flow: row nowrap;
  width: -moz-min-content;
  width: min-content;
  height: 32px;
  margin: 10px 5px;
  padding-right: 20px;
}
.swfw-follow-button.irregular .swfw-network-icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 32px;
  text-align: center;
}
.swfw-follow-button.irregular .swfw-text {
  width: -moz-min-content;
  width: min-content;
  margin: 0 10px;
  transition: margin 300ms;
  display: flex;
  justify-content: center;
  line-height: 32px;
}
.swfw-follow-button.irregular .swfw-text .swfw-cta,
.swfw-follow-button.irregular .swfw-text .swfw-count {
  display: inline;
  position: relative;
  transition: all 300ms;
}
.swfw-follow-button.irregular .swfw-text .swfw-cta {
  width: 0;
  max-width: 0;
  overflow-x: hidden;
  position: absolute;
  color: transparent;
}
.swfw-follow-button.irregular:hover .swfw-text {
  width: -moz-max-content;
  width: max-content;
  margin: 0 20px;
}
.swfw-follow-button.irregular:hover .swfw-text .swfw-cta {
  width: -moz-min-content;
  width: min-content;
  overflow-x: visible;
  position: relative;
  max-width: none;
  color: #030303;
}
/**
 * Rectangle Buttons
 */
.swfw-follow-button.rectangle {
  /* Make the CTA look like a button. */
}
.swfw-follow-button.rectangle .swfw-cta {
  padding: 20px 10px;
  border-radius: 3px;
  background: #fff;
}

.swfw-follow-button.rectangle-large:hover .swfw-cta {
  padding: 20px 10px;
  border-radius: 3px;
  background: #0003;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
