/**
 * Button Container
 *
 * These styles are common to all button containers, regardless of shape or style.
 */
.swfw-follow-container {
  display: flex;
  position: relative;
}
.swfw-follow-container .swfw-container-message {
  font-weight: bold;
}
.swfw-follow-container.square {
  flex-flow: row wrap;
}
.swfw-follow-container.irregular {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: space-between;
}
.swfw-follow-container.rectangle {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

/**
 * Individual Buttons
 *
 * These styles are common to all Follow buttons, regardless of shape or style.
 */
.swfw-follow-button {
  cursor: pointer;
  border-radius: 4px;
  font-family: "Helvetica", sans-serif;
  position: relative;
}
.swfw-follow-button p {
  margin: 0;
}
.swfw-follow-button .swfw-text {
  position: relative;
  color: #030303;
}
.swfw-follow-button .swfw-count {
  font-weight: normal;
}
.swfw-follow-button .swfw-cta {
  font-weight: bold;
}
.swfw-follow-button .swfw-cta a {
  color: white;
}

/**
 * Square Buttons
 *
 */
.swfw-follow-button.square {
  width: 55px;
  height: 58px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  margin: 5px;
  color: #fefefe;
}
.swfw-follow-button.square .swfw-network-icon {
  font-size: 20px;
}
.swfw-follow-button.square .swfw-text {
  width: 100%;
  color: #fefefe;
}
.swfw-follow-button.square .swfw-cta,
.swfw-follow-button.square .swfw-count {
  display: block;
  width: 100%;
  position: absolute;
}
.swfw-follow-button.square .swfw-count {
  opacity: 1;
  transition: opacity 300ms 0;
  font-size: 12px;
}
.swfw-follow-button.square .swfw-cta {
  opacity: 0;
  transition: opacity 300ms 0;
}
.swfw-follow-button.square:hover .swfw-count {
  opacity: 0;
  transition: opacity 300ms 300ms;
}
.swfw-follow-button.square:hover .swfw-cta {
  opacity: 1;
  transition: opacity 300ms 300ms;
}

/**
 * Irregular buttons
 *
 */
.swfw-follow-button.irregular {
  display: flex;
  flex-flow: row nowrap;
  width: -moz-min-content;
  width: min-content;
  margin: 10px 5px;
  padding: 5px 10px 5px 5px;
  color: #fefefe;
}
.swfw-follow-button.irregular .swfw-network-icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 32px;
  text-align: center;
}
.swfw-follow-button.irregular .swfw-text {
  width: -moz-min-content;
  width: min-content;
  margin: 0 10px;
  transition: margin 300ms;
  display: flex;
  justify-content: center;
  line-height: 32px;
  color: white;
}
.swfw-follow-button.irregular .swfw-text .swfw-cta,
.swfw-follow-button.irregular .swfw-text .swfw-count {
  display: inline;
  position: relative;
  transition: all 300ms;
}
.swfw-follow-button.irregular .swfw-text .swfw-cta {
  width: 0;
  overflow-x: hidden;
  position: absolute;
  color: transparent;
  margin-right: 0;
  font-weight: normal;
}
.swfw-follow-button.irregular .swfw-text:hover .swfw-cta {
  color: #fefefe;
}
.swfw-follow-button.irregular:hover .swfw-text {
  width: -moz-max-content;
  width: max-content;
}
.swfw-follow-button.irregular:hover .swfw-text .swfw-cta {
  width: -moz-min-content;
  width: min-content;
  overflow-x: visible;
  position: relative;
  margin-right: 10px;
  color: #030303;
}
/**
 * Rectangle Buttons
 *
 */
.swfw-follow-button.rectangle {
  width: 330px;
  height: 72px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
  cursor: initial;
  /* Make the CTA look like a button. */
}
.swfw-follow-button.rectangle > * {
  top: 24px;
  position: absolute;
  display: inline-block;
  width: -moz-min-content;
  width: min-content;
}
.swfw-follow-button.rectangle .swfw-network-icon {
  width: 36px;
  height: 24px;
  line-height: 24px;
  font-size: 36px;
  color: #fefefe;
  left: 0;
  margin-left: 10px;
}
.swfw-follow-button.rectangle .swfw-text {
  font-size: 12px;
  line-height: 24px;
  left: calc(10px + 60px);
  color: #fefefe;
  text-align: center;
}
.swfw-follow-button.rectangle .swfw-text .swfw-count {
  width: -moz-max-content;
  width: max-content;
}
.swfw-follow-button.rectangle .swfw-cta {
  /* padding: 20px 10px; */
  border-radius: 3px;
}
.swfw-follow-button.rectangle .swfw-cta-button {
  height: 24px;
  width: 116px;
  line-height: 24px;
  background: #fefefe;
  border-radius: 4px;
  text-align: center;
  margin-right: 10px;
  right: 0;
}
.swfw-follow-button.rectangle .swfw-cta-button:hover {
  background: rgba(30, 30, 30, 0.3);
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
