/* Button Container */

.swfw-follow-container {
	min-width: 375px;
	min-height:200px;

    .swfw-container-message {
		font-weight: bold;
	}
}

/* Individual Buttons */

.swfw-follow-button {
    background: cyan;
    margin: 15px;

  .swfw-count {
    font-weight: normal;
  }
    .swfw-cta {
      font-weight: bold;
    }
}


/* Square buttons. */
.swfw-follow-button.square {
    width: 55px;
    height: 58px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: space-between;

    .swfw-cta,
    .swfw-count {
      position: absolute;
    }

    .swfw-count {
        opacity: 1;
        transition: opacity 300ms 0;
    }

    &:hover .swfw-count {
        opacity: 0;
		transition: opacity 300ms 300ms;
    }

    .swfw-cta {
      opacity: 0;
      transition: opacity 300ms 0;
    }

    &:hover .swfw-cta {
      opacity: 1;
      transition: opacity 300ms 300ms;
    }
}

.swfw-follow-button.rect-small {
    width: auto;
    height: 32px;

    .swfw-cta {
      display: none;
    }

    .swfw-cta {
      opacity: 1;
      transition: opacity 300ms 0;
    }

    .swfw-cta {
      opacity: 0;
      transition: opacity 300ms 300ms;
    }
}

/* Small rectangular buttons. */
.swfw-follow-button.rect-small:hover {
    width: 100%;

    .swfw-cta {
      display: block;
    }
}


/* Small rectangular buttons. */
.swfw-follow-button.rect-large {


  /* Make the CTA look like a button. */
  .swfw-cta {
    padding: 20px 10px;
    border-radius: 3px;
    background: #fff;
  }
}

.swfw-follow-button.rect-large:hover {
    .swfw-cta {
    padding: 20px 10px;
    border-radius: 3px;
    background: #0003;
    color: #fff;
  }
}
