$black: #030303;

/* Button Container */

.swfw-follow-container {
	// min-width: 375px;
	// min-height:200px;
	background-color: lightgreen;
	display: flex;

	&.square {
	  flex-flow: row wrap;
	}

    &.irregular {
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: space-between;
	}

    .swfw-container-message {
		font-weight: bold;
	}
}


/* Individual Buttons */
.swfw-follow-button {
    background: cyan;

	.swfw-text {
		position: relative;
		width: 100%;
		color: $black;
		font-family: 'Helvetica', sans-serif;

		.swfw-count {
		  font-weight: normal;
		}

	    .swfw-cta {
	      font-weight: bold;
	    }
	}
}


/* Square buttons. */
.swfw-follow-button.square {
    width: 55px;
    height: 58px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
	text-align: center;
	margin: 15px;

	.swfw-network-icon {
		font-size: 20px;
	}

	.swfw-text {
		width: 100%;
	}

    .swfw-cta,
    .swfw-count {
	  display: block;
	  width: 100%;
	  position: absolute;
    }

    .swfw-count {
      opacity: 1;
      transition: opacity 300ms 0;
	  font-size: 12px;
    }

    &:hover .swfw-count {
      opacity: 0;
	  transition: opacity 300ms 300ms;
    }

    .swfw-cta {
      opacity: 0;
      transition: opacity 300ms 0;
    }

    &:hover .swfw-cta {
      opacity: 1;
      transition: opacity 300ms 300ms;
    }
}

/* Irregularly sized buttons */
.swfw-follow-button.irregular {
	display: flex;
	flex-flow: row nowrap;
	width: -moz-min-content;
	width: min-content;
    height: 32px;
	margin: 10px 5px;
	padding-right: 20px;

	.swfw-network-icon {
		width: 32px;
		height: 32px;
		line-height: 32px;
		font-size: 32px;
		text-align: center;
	}

	.swfw-cta,
	.swfw-count {
		display: inline-block;
		position: relative;
	}

    .swfw-cta {
	  // visibility: collapse;
	  width: 0;
	  color: transparent;
	  float: left;
	  transition: width 300ms;
      margin: 0 10px;
    }

	&:hover .swfw-cta {
	  // visibility: visible;
	  width: auto;
	  color: $black;
	  transition: all 0;
	}

	.swfw-count {
		// float: right;
	}
}

/* Small rectangular buttons. */
.swfw-follow-button.rect-large {

  /* Make the CTA look like a button. */
  .swfw-cta {
    padding: 20px 10px;
    border-radius: 3px;
    background: #fff;
  }
}

.swfw-follow-button.rect-large:hover {
    .swfw-cta {
    padding: 20px 10px;
    border-radius: 3px;
    background: #0003;
    color: #fff;
  }
}
