$white: #fefefe;;
$black: #030303;

/**
/// Frontend Style
**/

/**
 * Button Container
 *
 * These styles are common to all button containers, regardless of shape or style.
 */
.swfw-follow-container {
	display: flex;
	position: relative;

	.swfw-container-message {
		font-weight: bold;
	}

	&.square {
	  flex-flow: row wrap;
	}

	&.buttons {
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: space-between;
	}

	&.block {
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.swfw-network-icon {
		max-with: 100px;
	}
}


/**
 * Individual Buttons
 *
 * These styles are common to all Follow buttons, regardless of shape or style.
 */
.swfw-follow-button {
	cursor: pointer;
	border-radius: 4px;
	font-family: 'Helvetica', sans-serif;
	position: relative;

	.swfw-text {
	  position: relative;
	  color: $black;
	}

	.swfw-count {
	  font-weight: normal;
	}

	.swfw-cta {
	  font-weight: bold;
	}

	.swfw-cta a {
		color: white;
	}
}


/**
 * Square Buttons
 *
 */
.swfw-follow-button.square {
	width: 55px;
	height: 58px;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	text-align: center;
	margin: 5px;
	color: $white;

	.swfw-network-icon {
		font-size: 20px;
	}

	.swfw-text {
		width: 100%;
		color: $white;

	}

	.swfw-cta,
	.swfw-count {
	  display: block;
	  width: 100%;
	  position: absolute;
	}

	.swfw-count {
	  opacity: 1;
	  transition: opacity 300ms 0;
	  font-size: 12px;
	}

	.swfw-cta {
	  opacity: 0;
	  transition: opacity 300ms 0;
	}

	&:hover {
		.swfw-count {
		  opacity: 0;
		  transition: opacity 300ms 300ms;
		}

		.swfw-cta {
		  opacity: 1;
		  transition: opacity 300ms 300ms;
		}
	}
}


/**
 * Buttons buttons
 *
 */
.swfw-follow-button.buttons {
	display: flex;
	flex-flow: row nowrap;
	width: -moz-min-content;
	width: min-content;
	margin: 10px 5px;
	padding: 5px 10px 5px 5px;
	color: $white;

	.swfw-network-icon {
		width: 32px;
		height: 32px;
		line-height: 32px;
		font-size: 32px;
		text-align: center;
	}

	.swfw-text {
		width: -moz-min-content;
		width: min-content;
		margin: 0 10px;
		transition: margin 300ms;
		display: flex;
		justify-content: center;
		line-height: 32px;
		color: white;

		.swfw-cta,
		.swfw-count {
			display: inline;
			position: relative;
			transition: all 300ms;
		}

		.swfw-cta {
		  width: 0;
		  overflow-x: hidden;
		  position: absolute;
		  color: transparent;
		  margin-right: 0;
		  font-weight: normal;
		}

		&:hover .swfw-cta {
			color: $white;
		}
	}

	&:hover .swfw-text {
		width: -moz-max-content;
		width: max-content;

		.swfw-cta {
			width: -moz-min-content;
			width: min-content;
			overflow-x: visible;
			position: relative;
			margin-right: 10px;
			color: $white;
		}

		&:hover .swfw-count {
		}
	}
}


/**
 * Block Buttons
 *
 */
.swfw-follow-button.block {
	width: 330px;
	height: 72px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-around;
	margin: 10px 0;
	cursor: initial;

	> * {
		top: 24px;
		position: absolute;
		display: inline-block;
		width: -moz-min-content;
		width: min-content;
	}

  .swfw-network-icon {
	  width: 36px;
	  height: 24px;
	  line-height: 24px;
	  font-size: 36px;
	  color: $white;
	  left: 0;
	  margin-left: 10px;
  }

  .swfw-text {
	  font-size: 12px;
	  line-height: 24px;
	  left: calc(10px + 60px);  //* {parent margin} + {arbitrary amount}
	  color: $white;
	  text-align: center;

	  .swfw-count {
		width: -moz-max-content;
		width: max-content;
	  }
  }

  /* Make the CTA look like a button. */
  .swfw-cta {
	/* padding: 20px 10px; */
	border-radius: 3px;
  }

  .swfw-cta-button {
	  height: 24px;
	  width: 116px;
	  line-height: 24px;
	  background: $white;
	  border-radius: 4px;
	  text-align: center;
	  margin-right: 10px;
	  right: 0;

	  &:hover {
		  background: rgba(30, 30, 30, .3);
		  cursor: pointer;
	  }
  }
}

/**
/// Backend Style
**/

.swfw-input-field,
.swfw-follow-field {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	// width: 380px;
	height: 50px;
	margin: 15px auto;
}

.swfw-follow-field-icon {
	font-size: 30px;
	line-height: 22px;
	font-weight: bold;
}

.swfw-widget label {
	font-size: 14px;
	width: 100px;
}

.swfw-follow-field label {
	text-align: right;
}


.swfw-input-field input,
.swfw-input-field select,
.swfw-follow-field input {
	padding: 15px;
	width: 50%;
	height: 100%;
	border-radius: 4px;
}

.swfw-follow-field-icon {
	width: 40px;
}
