/**
/// Frontend Style
**/
/**
 * Button Container
 *
 * These styles are common to all button containers, regardless of shape or style.
 */
.swfw-follow-container {
  display: flex;
  position: relative;
}
.swfw-follow-container .swfw-container-message {
  font-weight: bold;
}
.swfw-follow-container.swfw_square {
  flex-flow: row wrap;
}
.swfw-follow-container.swfw_buttons {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: space-between;
}
.swfw-follow-container.swfw_block, .swfw-follow-container.swfw-follow-button.swfw_shift, .swfw-follow-container.swfw_shift.swfw_square, .swfw-follow-container.swfw_shift.swfw_buttons, .swfw-follow-container.swfw-follow-button.swfw_pill, .swfw-follow-container.swfw_pill.swfw_square, .swfw-follow-container.swfw_pill.swfw_buttons, .swfw-follow-container.swfw-follow-button.swfw_leaf, .swfw-follow-container.swfw_leaf.swfw_square, .swfw-follow-container.swfw_leaf.swfw_buttons {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.swfw-follow-container .swfw-network-icon {
  max-with: 100px;
  stroke: #fefefe;
}

/**
 * Individual Buttons
 *
 * These styles are common to all Follow buttons, regardless of shape or style.
 */
.swfw-follow-button, .swfw_block, .swfw-follow-button.swfw_shift, .swfw_shift.swfw_square, .swfw_shift.swfw_buttons, .swfw_shift.swfw_block, .swfw-follow-button.swfw_pill, .swfw_pill.swfw_square, .swfw_pill.swfw_buttons, .swfw_pill.swfw_block, .swfw-follow-button.swfw_leaf, .swfw_leaf.swfw_square, .swfw_leaf.swfw_buttons, .swfw_leaf.swfw_block, .swfw_buttons, .swfw_square {
  cursor: pointer;
  border-radius: 4px;
  font-family: "Helvetica", sans-serif;
}
.swfw-follow-button .swfw-text, .swfw_block .swfw-text, .swfw_buttons .swfw-text, .swfw_square .swfw-text {
  color: #030303;
}
.swfw-follow-button .swfw-count, .swfw_block .swfw-count, .swfw_buttons .swfw-count, .swfw_square .swfw-count {
  font-weight: normal;
}
.swfw-follow-button .swfw-cta, .swfw_block .swfw-cta, .swfw_buttons .swfw-cta, .swfw_square .swfw-cta {
  font-weight: bold;
}
.swfw-follow-button .swfw-cta a, .swfw_block .swfw-cta a, .swfw_buttons .swfw-cta a, .swfw_square .swfw-cta a {
  color: white;
  text-decoration: none;
}

/**
 * Square Buttons
 *
 */
.swfw_square {
  width: 55px;
  height: 58px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  margin: 5px;
  color: #fefefe;
  position: realtive;
}
.swfw_square .swfw-network-icon {
  font-size: 20px;
}
.swfw_square .swfw-text {
  width: 100%;
  color: #fefefe;
}
.swfw_square .swfw-cta,
.swfw_square .swfw-count {
  display: block;
  width: 100%;
  position: absolute;
}
.swfw_square .swfw-count {
  opacity: 1;
  transition: opacity 300ms 0;
  font-size: 12px;
}
.swfw_square .swfw-cta {
  opacity: 0;
  transition: opacity 300ms 0;
}
.swfw_square:hover .swfw-count {
  opacity: 0;
  transition: opacity 300ms 300ms;
}
.swfw_square:hover .swfw-cta {
  opacity: 1;
  transition: opacity 300ms 300ms;
}

/**
 * Buttons buttons
 *
 */
.swfw_buttons {
  display: flex;
  flex-flow: row nowrap;
  width: -moz-min-content;
  width: min-content;
  margin: 10px 5px;
  padding: 5px 10px 5px 5px;
  color: #fefefe;
}
.swfw_buttons .swfw-network-icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 32px;
  text-align: center;
}
.swfw_buttons .swfw-text {
  width: -moz-min-content;
  width: min-content;
  margin: 0 10px;
  transition: margin 300ms;
  display: flex;
  justify-content: center;
  line-height: 32px;
  color: white;
}
.swfw_buttons .swfw-text .swfw-cta,
.swfw_buttons .swfw-text .swfw-count {
  display: inline;
  position: relative;
  transition: all 300ms;
}
.swfw_buttons .swfw-text .swfw-cta {
  width: 0;
  overflow-x: hidden;
  position: absolute;
  color: transparent;
  margin-right: 0;
  font-weight: normal;
}
.swfw_buttons .swfw-text:hover .swfw-cta {
  color: #fefefe;
}
.swfw_buttons:hover .swfw-text {
  width: -moz-max-content;
  width: max-content;
}
.swfw_buttons:hover .swfw-text .swfw-cta {
  width: -moz-min-content;
  width: min-content;
  overflow-x: visible;
  position: relative;
  margin-right: 10px;
  color: #fefefe;
}
/**
 * Block Buttons
 *
 */
.swfw_block, .swfw-follow-button.swfw_shift, .swfw_shift.swfw_square, .swfw_shift.swfw_buttons, .swfw_shift.swfw_block, .swfw-follow-button.swfw_pill, .swfw_pill.swfw_square, .swfw_pill.swfw_buttons, .swfw_pill.swfw_block, .swfw-follow-button.swfw_leaf, .swfw_leaf.swfw_square, .swfw_leaf.swfw_buttons, .swfw_leaf.swfw_block {
  width: 330px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
  cursor: initial;
  position: relative;
  /* Make the CTA look like a button. */
}
.swfw_block > *, .swfw-follow-button.swfw_shift > *, .swfw_shift.swfw_square > *, .swfw_shift.swfw_buttons > *, .swfw_shift.swfw_block > *, .swfw-follow-button.swfw_pill > *, .swfw_pill.swfw_square > *, .swfw_pill.swfw_buttons > *, .swfw_pill.swfw_block > *, .swfw-follow-button.swfw_leaf > *, .swfw_leaf.swfw_square > *, .swfw_leaf.swfw_buttons > *, .swfw_leaf.swfw_block > * {
  width: -moz-min-content;
  width: min-content;
}
.swfw_block .swfw-network-icon, .swfw-follow-button.swfw_shift .swfw-network-icon, .swfw_shift.swfw_square .swfw-network-icon, .swfw_shift.swfw_buttons .swfw-network-icon, .swfw-follow-button.swfw_pill .swfw-network-icon, .swfw_pill.swfw_square .swfw-network-icon, .swfw_pill.swfw_buttons .swfw-network-icon, .swfw-follow-button.swfw_leaf .swfw-network-icon, .swfw_leaf.swfw_square .swfw-network-icon, .swfw_leaf.swfw_buttons .swfw-network-icon {
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 36px;
  color: #fefefe;
  left: 0;
  margin-left: 10px;
}
.swfw_block .swfw-text, .swfw-follow-button.swfw_shift .swfw-text, .swfw_shift.swfw_square .swfw-text, .swfw_shift.swfw_buttons .swfw-text, .swfw-follow-button.swfw_pill .swfw-text, .swfw_pill.swfw_square .swfw-text, .swfw_pill.swfw_buttons .swfw-text, .swfw-follow-button.swfw_leaf .swfw-text, .swfw_leaf.swfw_square .swfw-text, .swfw_leaf.swfw_buttons .swfw-text {
  font-size: 12px;
  line-height: 24px;
  left: calc(10px + 60px);
  color: #fefefe;
  text-align: center;
}
.swfw_block .swfw-text .swfw-count, .swfw-follow-button.swfw_shift .swfw-text .swfw-count, .swfw_shift.swfw_square .swfw-text .swfw-count, .swfw_shift.swfw_buttons .swfw-text .swfw-count, .swfw-follow-button.swfw_pill .swfw-text .swfw-count, .swfw_pill.swfw_square .swfw-text .swfw-count, .swfw_pill.swfw_buttons .swfw-text .swfw-count, .swfw-follow-button.swfw_leaf .swfw-text .swfw-count, .swfw_leaf.swfw_square .swfw-text .swfw-count, .swfw_leaf.swfw_buttons .swfw-text .swfw-count {
  width: -moz-max-content;
  width: max-content;
  font-size: 15px;
}
.swfw_block .swfw-cta, .swfw-follow-button.swfw_shift .swfw-cta, .swfw_shift.swfw_square .swfw-cta, .swfw_shift.swfw_buttons .swfw-cta, .swfw-follow-button.swfw_pill .swfw-cta, .swfw_pill.swfw_square .swfw-cta, .swfw_pill.swfw_buttons .swfw-cta, .swfw-follow-button.swfw_leaf .swfw-cta, .swfw_leaf.swfw_square .swfw-cta, .swfw_leaf.swfw_buttons .swfw-cta {
  /* padding: 20px 10px; */
  border-radius: 3px;
}
.swfw_block .swfw-cta-button, .swfw-follow-button.swfw_shift .swfw-cta-button, .swfw_shift.swfw_square .swfw-cta-button, .swfw_shift.swfw_buttons .swfw-cta-button, .swfw-follow-button.swfw_pill .swfw-cta-button, .swfw_pill.swfw_square .swfw-cta-button, .swfw_pill.swfw_buttons .swfw-cta-button, .swfw-follow-button.swfw_leaf .swfw-cta-button, .swfw_leaf.swfw_square .swfw-cta-button, .swfw_leaf.swfw_buttons .swfw-cta-button {
  height: 24px;
  width: 116px;
  line-height: 24px;
  background: #fefefe;
  border-radius: 4px;
  text-align: center;
  margin-right: 10px;
  right: 0;
}
.swfw_block .swfw-cta-button:hover, .swfw-follow-button.swfw_shift .swfw-cta-button:hover, .swfw_shift.swfw_square .swfw-cta-button:hover, .swfw_shift.swfw_buttons .swfw-cta-button:hover, .swfw-follow-button.swfw_pill .swfw-cta-button:hover, .swfw_pill.swfw_square .swfw-cta-button:hover, .swfw_pill.swfw_buttons .swfw-cta-button:hover, .swfw-follow-button.swfw_leaf .swfw-cta-button:hover, .swfw_leaf.swfw_square .swfw-cta-button:hover, .swfw_leaf.swfw_buttons .swfw-cta-button:hover {
  transition: all 300ms;
  background: rgba(30, 30, 30, 0.3);
  padding: 1px 0;
  cursor: pointer;
}
.swfw_block .swfw-cta-button:hover a, .swfw-follow-button.swfw_shift .swfw-cta-button:hover a, .swfw_shift.swfw_square .swfw-cta-button:hover a, .swfw_shift.swfw_buttons .swfw-cta-button:hover a, .swfw-follow-button.swfw_pill .swfw-cta-button:hover a, .swfw_pill.swfw_square .swfw-cta-button:hover a, .swfw_pill.swfw_buttons .swfw-cta-button:hover a, .swfw-follow-button.swfw_leaf .swfw-cta-button:hover a, .swfw_leaf.swfw_square .swfw-cta-button:hover a, .swfw_leaf.swfw_buttons .swfw-cta-button:hover a {
  color: #fefefe;
}

/**
 * Leaf style
 */
.swfw-follow-button.swfw_leaf, .swfw_leaf.swfw_square, .swfw_leaf.swfw_buttons, .swfw_leaf.swfw_block {
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/**
 * Pill style
 */
.swfw-follow-button.swfw_pill, .swfw_pill.swfw_square, .swfw_pill.swfw_buttons, .swfw_pill.swfw_block {
  border-radius: 50px;
  border-width: 1px;
}

/**
 * Shift style
 */
.swfw-follow-button.swfw_shift, .swfw_shift.swfw_square, .swfw_shift.swfw_buttons, .swfw_shift.swfw_block {
  transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  -webkit-transform: skew(-10deg);
}

/**
/// Backend Style
**/
.swfw-revoke-button,
.swfw-authorization-button {
  width: 70%;
  text-align: center;
  max-width: 200px;
}

.swfw-input-field,
.swfw-follow-field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 15px auto;
}

.swfw-follow-field.swfw-inactive a {
  cursor: initial;
}
.swfw-follow-field.swfw-active a {
  cursor: pointer;
}

.swfw-follow-field-icon {
  color: black;
  width: 40px;
  font-size: 44px;
  line-height: 40px;
  font-weight: bold;
  transition: all 300ms;
  border-radius: 3px;
  height: 40px;
  text-align: center;
}
.swfw-follow-field-icon:hover {
  color: black;
}

.swfw-active .swfw-follow-field-icon {
  color: white;
}

.swfw-widget label {
  font-size: 14px;
  width: 100px;
}

.swfw-follow-field label {
  text-align: right;
}

.swfw-input-field input,
.swfw-input-field select,
.swfw-follow-field input {
  padding: 15px;
  width: 50%;
  height: 100%;
  border-radius: 4px;
}

/*# sourceMappingURL=style.css.map */
