/**
/// Frontend Style
**/
/**
 * Button Container
 *
 * These styles are common to all button containers, regardless of shape or style.
 */
.swfw-follow-container {
  display: flex;
  position: relative;
}
.swfw-follow-container .swfw-container-message {
  font-weight: bold;
}
.swfw-follow-container.swfw_square_container {
  flex-flow: row wrap;
}
.swfw-follow-container.swfw_buttons_container {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: space-between;
}
.swfw-follow-container.swfw_block_container {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

/**
 * Individual Buttons
 *
 * These styles are common to all Follow buttons, regardless of shape or style.
 */
/*
.swfw-follow-button {
	cursor: pointer;
	border-radius: 4px;
	font-family: 'Helvetica', sans-serif;

	.swfw-text {
	  color: $black;
	}

	.swfw-count {
	  font-weight: normal;
	}

	.swfw-cta {
	  font-weight: bold;
	}

	.swfw-cta a {
		color: white;
		text-decoration: none !important;
	}
}
*/
.swfw-follow-button, .swfw-follow-button.swfw_shift_button, .swfw_shift_button.swfw_square_button, .swfw_shift_button.swfw_buttons_button, .swfw_shift_button.swfw_block_button, .swfw-follow-button.swfw_pill_button, .swfw_pill_button.swfw_square_button, .swfw_pill_button.swfw_buttons_button, .swfw_pill_button.swfw_block_button, .swfw-follow-button.swfw_leaf_button, .swfw_leaf_button.swfw_square_button, .swfw_leaf_button.swfw_buttons_button, .swfw_leaf_button.swfw_block_button, .swfw_block_button, .swfw_buttons_button, .swfw_square_button {
  align-items: center;
  border-radius: 8px;
  display: flex;
  color: #fefefe;
  font-family: "Helvetica", sans-serif;
  font-size: initial;
  justify-content: space-between;
  line-height: 1;
  margin-bottom: 10px;
  padding: 25px 15px;
  width: 100%;
}
.swfw-follow-button a, .swfw-follow-button.swfw_shift_button a, .swfw_shift_button.swfw_square_button a, .swfw_shift_button.swfw_buttons_button a, .swfw_shift_button.swfw_block_button a, .swfw-follow-button.swfw_pill_button a, .swfw_pill_button.swfw_square_button a, .swfw_pill_button.swfw_buttons_button a, .swfw_pill_button.swfw_block_button a, .swfw-follow-button.swfw_leaf_button a, .swfw_leaf_button.swfw_square_button a, .swfw_leaf_button.swfw_buttons_button a, .swfw_leaf_button.swfw_block_button a, .swfw_block_button a, .swfw_buttons_button a, .swfw_square_button a {
  background: #fff;
  border-radius: 4px;
  color: #000;
  padding: 10px 30px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.swfw-follow-button a:hover, .swfw_block_button a:hover, .swfw_buttons_button a:hover, .swfw_square_button a:hover {
  background: #2A2D34;
  color: #fff;
}
.swfw-follow-button .swfw-network-icon i, .swfw_block_button .swfw-network-icon i, .swfw_buttons_button .swfw-network-icon i, .swfw_square_button .swfw-network-icon i {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  font-size: 24px;
  line-height: 32px;
}

.swfw_shift_button {
  transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -o-transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
}
.swfw_shift_button > div {
  transform: skew(30deg);
  -moz-transform: skew(30deg);
  -o-transform: skew(30deg);
  -webkit-transform: skew(30deg);
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/**
 * Square Buttons
 *
 */
.swfw_square_button {
  width: 55px;
  height: 58px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  margin: 5px;
  color: #fefefe;
  position: realtive;
}
.swfw_square_button .swfw-text {
  width: 100%;
  color: #fefefe;
}
.swfw_square_button .swfw-cta,
.swfw_square_button .swfw-count {
  display: block;
  width: 100%;
  position: absolute;
}
.swfw_square_button .swfw-count {
  opacity: 1;
  transition: opacity 300ms 0;
  font-size: 12px;
}
.swfw_square_button .swfw-cta {
  opacity: 0;
  transition: opacity 300ms 0;
}
.swfw_square_button:hover .swfw-count {
  opacity: 0;
  transition: opacity 300ms 300ms;
}
.swfw_square_button:hover .swfw-cta {
  opacity: 1;
  transition: opacity 300ms 300ms;
}

/**
 * Buttons buttons
 *
 */
.swfw_buttons_button {
  display: flex;
  flex-flow: row nowrap;
  width: -moz-max-content;
  width: max-content;
  margin: 10px 5px;
  padding: 5px 10px 5px 5px;
  color: #fefefe;
}
.swfw_buttons_button .swfw-network-icon {
  padding: 0;
  font-size: 32px;
}
.swfw_buttons_button .swfw-text {
  width: -moz-min-content;
  width: min-content;
  margin: 0 10px;
  transition: margin 300ms;
  display: flex;
  justify-content: center;
  line-height: 32px;
  color: white;
}
.swfw_buttons_button .swfw-text .swfw-cta,
.swfw_buttons_button .swfw-text .swfw-count {
  display: inline;
  position: relative;
  transition: all 300ms;
}
.swfw_buttons_button .swfw-text .swfw-cta {
  width: 0;
  overflow-x: hidden;
  position: absolute;
  color: transparent;
  margin-right: 0;
  font-weight: normal;
}
.swfw_buttons_button .swfw-text:hover .swfw-cta {
  color: #fefefe;
}
.swfw_buttons_button:hover .swfw-text {
  width: -moz-max-content;
  width: max-content;
}
.swfw_buttons_button:hover .swfw-text .swfw-cta {
  width: -moz-min-content;
  width: min-content;
  overflow-x: visible;
  position: relative;
  margin-right: 10px;
  color: #fefefe;
}
/**
 * Block Buttons
 *
 */
.swfw_block_button {
  width: 330px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
  cursor: initial;
  position: relative;
  padding: 12px 0;
}
.swfw_block_button > * {
  width: -moz-min-content;
  width: min-content;
}
.swfw_block_button .swfw-network-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  color: #fefefe;
  left: 0;
  margin-left: 10px;
}
.swfw_block_button .swfw-text {
  font-size: 12px;
  line-height: 24px;
  left: calc(10px + 60px);
  color: #fefefe;
  text-align: center;
}
.swfw_block_button .swfw-text .swfw-count {
  width: -moz-max-content;
  width: max-content;
  font-size: 15px;
}
.swfw_block_button .swfw-cta {
  border-radius: 3px;
}
.swfw_block_button .swfw-cta-button {
  height: 24px;
  width: initial;
  line-height: 24px;
  background: #fefefe;
  border-radius: 4px;
  text-align: center;
  margin-right: 10px;
  right: 0;
}
.swfw_block_button .swfw-cta-button a {
  text-decoration: none !important;
}
.swfw_block_button .swfw-cta-button:hover {
  transition: all 300ms;
  background: rgba(30, 30, 30, 0.3);
  padding: 1px 0;
  cursor: pointer;
}
.swfw_block_button .swfw-cta-button:hover a {
  color: #fefefe;
}

/**
 * Leaf style
 */
.swfw-follow-button.swfw_leaf_button, .swfw_leaf_button.swfw_square_button, .swfw_leaf_button.swfw_buttons_button, .swfw_leaf_button.swfw_block_button {
  border-top-left-radius: 35px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 35px;
}

/**
 * Pill style
 */
.swfw-follow-button.swfw_pill_button, .swfw_pill_button.swfw_square_button, .swfw_pill_button.swfw_buttons_button, .swfw_pill_button.swfw_block_button {
  border-radius: 50px;
}
.swfw-follow-button.swfw_pill_button .swfw-cta-button a, .swfw_pill_button.swfw_square_button .swfw-cta-button a, .swfw_pill_button.swfw_buttons_button .swfw-cta-button a, .swfw_pill_button.swfw_block_button .swfw-cta-button a {
  border-radius: 50px;
}

/**
 * Shift style
 */
.swfw-follow-button.swfw_shift_button, .swfw_shift_button.swfw_square_button, .swfw_shift_button.swfw_buttons_button, .swfw_shift_button.swfw_block_button {
  transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -o-transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  /* Unskew the contents */
}
.swfw-follow-button.swfw_shift_button > div, .swfw_shift_button.swfw_square_button > div, .swfw_shift_button.swfw_buttons_button > div, .swfw_shift_button.swfw_block_button > div {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  transform: skew(30deg);
  -moz-transform: skew(30deg);
  -o-transform: skew(30deg);
  -webkit-transform: skew(30deg);
}

/**
/// Backend Style
**/
.swfw-revoke-button,
.swfw-authorization-button {
  width: 70%;
  text-align: center;
  max-width: 200px;
}

.swfw-input-field,
.swfw-follow-field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 15px auto;
}

.swfw-follow-field.swfw-inactive a {
  cursor: initial;
}
.swfw-follow-field.swfw-active a {
  cursor: pointer;
}

.swfw-follow-field-icon {
  color: black;
  width: 40px;
  font-size: 40px;
  line-height: 42px;
  font-weight: bold;
  transition: all 300ms;
  border-radius: 3px;
  height: 40px;
  text-align: center;
  padding: 2px;
}
.swfw-follow-field-icon:hover {
  color: black;
}

.swfw-widget label {
  font-size: 14px;
  width: 100px;
}

.swfw-follow-field label {
  text-align: right;
}

.swfw-input-field input,
.swfw-input-field select,
.swfw-follow-field input {
  padding: 15px;
  width: 50%;
  height: 100%;
  border-radius: 4px;
}

/*# sourceMappingURL=style.css.map */
