/**
/// Frontend Style
**/
/**
 * Button Container
 *
 * These styles are common to all button containers, regardless of shape or style.
 */
.swfw-follow-container {
  display: flex;
  position: relative;
}
.swfw-follow-container .swfw-container-message {
  font-weight: bold;
}
.swfw-follow-container.square {
  flex-flow: row wrap;
}
.swfw-follow-container.buttons {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: space-between;
}
.swfw-follow-container.block, .swfw-follow-container.swfw-follow-button.shift, .swfw-follow-container.shift.square, .swfw-follow-container.shift.buttons, .swfw-follow-container.swfw-follow-button.pill, .swfw-follow-container.pill.square, .swfw-follow-container.pill.buttons, .swfw-follow-container.swfw-follow-button.leaf, .swfw-follow-container.leaf.square, .swfw-follow-container.leaf.buttons {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.swfw-follow-container .swfw-network-icon {
  max-with: 100px;
  stroke: #fefefe;
}

/**
 * Individual Buttons
 *
 * These styles are common to all Follow buttons, regardless of shape or style.
 */
.swfw-follow-button, .block, .swfw-follow-button.shift, .shift.square, .shift.buttons, .shift.block, .swfw-follow-button.pill, .pill.square, .pill.buttons, .pill.block, .swfw-follow-button.leaf, .leaf.square, .leaf.buttons, .leaf.block, .buttons, .square {
  cursor: pointer;
  border-radius: 4px;
  font-family: "Helvetica", sans-serif;
}
.swfw-follow-button .swfw-text, .block .swfw-text, .buttons .swfw-text, .square .swfw-text {
  color: #030303;
}
.swfw-follow-button .swfw-count, .block .swfw-count, .buttons .swfw-count, .square .swfw-count {
  font-weight: normal;
}
.swfw-follow-button .swfw-cta, .block .swfw-cta, .buttons .swfw-cta, .square .swfw-cta {
  font-weight: bold;
}
.swfw-follow-button .swfw-cta a, .block .swfw-cta a, .buttons .swfw-cta a, .square .swfw-cta a {
  color: white;
  text-decoration: none;
}

/**
 * Square Buttons
 *
 */
.square {
  width: 55px;
  height: 58px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  margin: 5px;
  color: #fefefe;
  position: realtive;
}
.square .swfw-network-icon {
  font-size: 20px;
}
.square .swfw-text {
  width: 100%;
  color: #fefefe;
}
.square .swfw-cta,
.square .swfw-count {
  display: block;
  width: 100%;
  position: absolute;
}
.square .swfw-count {
  opacity: 1;
  transition: opacity 300ms 0;
  font-size: 12px;
}
.square .swfw-cta {
  opacity: 0;
  transition: opacity 300ms 0;
}
.square:hover .swfw-count {
  opacity: 0;
  transition: opacity 300ms 300ms;
}
.square:hover .swfw-cta {
  opacity: 1;
  transition: opacity 300ms 300ms;
}

/**
 * Buttons buttons
 *
 */
.buttons {
  display: flex;
  flex-flow: row nowrap;
  width: -moz-min-content;
  width: min-content;
  margin: 10px 5px;
  padding: 5px 10px 5px 5px;
  color: #fefefe;
}
.buttons .swfw-network-icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 32px;
  text-align: center;
}
.buttons .swfw-text {
  width: -moz-min-content;
  width: min-content;
  margin: 0 10px;
  transition: margin 300ms;
  display: flex;
  justify-content: center;
  line-height: 32px;
  color: white;
}
.buttons .swfw-text .swfw-cta,
.buttons .swfw-text .swfw-count {
  display: inline;
  position: relative;
  transition: all 300ms;
}
.buttons .swfw-text .swfw-cta {
  width: 0;
  overflow-x: hidden;
  position: absolute;
  color: transparent;
  margin-right: 0;
  font-weight: normal;
}
.buttons .swfw-text:hover .swfw-cta {
  color: #fefefe;
}
.buttons:hover .swfw-text {
  width: -moz-max-content;
  width: max-content;
}
.buttons:hover .swfw-text .swfw-cta {
  width: -moz-min-content;
  width: min-content;
  overflow-x: visible;
  position: relative;
  margin-right: 10px;
  color: #fefefe;
}
/**
 * Block Buttons
 *
 */
.block, .swfw-follow-button.shift, .shift.square, .shift.buttons, .shift.block, .swfw-follow-button.pill, .pill.square, .pill.buttons, .pill.block, .swfw-follow-button.leaf, .leaf.square, .leaf.buttons, .leaf.block {
  width: 330px;
  height: 72px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
  cursor: initial;
  position: relative;
  /* Make the CTA look like a button. */
}
.block > *, .swfw-follow-button.shift > *, .shift.square > *, .shift.buttons > *, .shift.block > *, .swfw-follow-button.pill > *, .pill.square > *, .pill.buttons > *, .pill.block > *, .swfw-follow-button.leaf > *, .leaf.square > *, .leaf.buttons > *, .leaf.block > * {
  width: -moz-min-content;
  width: min-content;
}
.block .swfw-network-icon, .swfw-follow-button.shift .swfw-network-icon, .shift.square .swfw-network-icon, .shift.buttons .swfw-network-icon, .swfw-follow-button.pill .swfw-network-icon, .pill.square .swfw-network-icon, .pill.buttons .swfw-network-icon, .swfw-follow-button.leaf .swfw-network-icon, .leaf.square .swfw-network-icon, .leaf.buttons .swfw-network-icon {
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 36px;
  color: #fefefe;
  left: 0;
  margin-left: 10px;
}
.block .swfw-text, .swfw-follow-button.shift .swfw-text, .shift.square .swfw-text, .shift.buttons .swfw-text, .swfw-follow-button.pill .swfw-text, .pill.square .swfw-text, .pill.buttons .swfw-text, .swfw-follow-button.leaf .swfw-text, .leaf.square .swfw-text, .leaf.buttons .swfw-text {
  font-size: 12px;
  line-height: 24px;
  left: calc(10px + 60px);
  color: #fefefe;
  text-align: center;
}
.block .swfw-text .swfw-count, .swfw-follow-button.shift .swfw-text .swfw-count, .shift.square .swfw-text .swfw-count, .shift.buttons .swfw-text .swfw-count, .swfw-follow-button.pill .swfw-text .swfw-count, .pill.square .swfw-text .swfw-count, .pill.buttons .swfw-text .swfw-count, .swfw-follow-button.leaf .swfw-text .swfw-count, .leaf.square .swfw-text .swfw-count, .leaf.buttons .swfw-text .swfw-count {
  width: -moz-max-content;
  width: max-content;
  font-size: 15px;
}
.block .swfw-cta, .swfw-follow-button.shift .swfw-cta, .shift.square .swfw-cta, .shift.buttons .swfw-cta, .swfw-follow-button.pill .swfw-cta, .pill.square .swfw-cta, .pill.buttons .swfw-cta, .swfw-follow-button.leaf .swfw-cta, .leaf.square .swfw-cta, .leaf.buttons .swfw-cta {
  /* padding: 20px 10px; */
  border-radius: 3px;
}
.block .swfw-cta-button, .swfw-follow-button.shift .swfw-cta-button, .shift.square .swfw-cta-button, .shift.buttons .swfw-cta-button, .swfw-follow-button.pill .swfw-cta-button, .pill.square .swfw-cta-button, .pill.buttons .swfw-cta-button, .swfw-follow-button.leaf .swfw-cta-button, .leaf.square .swfw-cta-button, .leaf.buttons .swfw-cta-button {
  height: 24px;
  width: 116px;
  line-height: 24px;
  background: #fefefe;
  border-radius: 4px;
  text-align: center;
  margin-right: 10px;
  right: 0;
}
.block .swfw-cta-button:hover, .swfw-follow-button.shift .swfw-cta-button:hover, .shift.square .swfw-cta-button:hover, .shift.buttons .swfw-cta-button:hover, .swfw-follow-button.pill .swfw-cta-button:hover, .pill.square .swfw-cta-button:hover, .pill.buttons .swfw-cta-button:hover, .swfw-follow-button.leaf .swfw-cta-button:hover, .leaf.square .swfw-cta-button:hover, .leaf.buttons .swfw-cta-button:hover {
  transition: all 300ms;
  background: rgba(30, 30, 30, 0.3);
  padding: 1px 0;
  cursor: pointer;
}
.block .swfw-cta-button:hover a, .swfw-follow-button.shift .swfw-cta-button:hover a, .shift.square .swfw-cta-button:hover a, .shift.buttons .swfw-cta-button:hover a, .swfw-follow-button.pill .swfw-cta-button:hover a, .pill.square .swfw-cta-button:hover a, .pill.buttons .swfw-cta-button:hover a, .swfw-follow-button.leaf .swfw-cta-button:hover a, .leaf.square .swfw-cta-button:hover a, .leaf.buttons .swfw-cta-button:hover a {
  color: #fefefe;
}

/**
 * Leaf style
 */
.swfw-follow-button.leaf, .leaf.square, .leaf.buttons, .leaf.block {
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/**
 * Pill style
 */
.swfw-follow-button.pill, .pill.square, .pill.buttons, .pill.block {
  border-radius: 50px;
  border-width: 1px;
}

/**
 * Shift style
 */
.swfw-follow-button.shift, .shift.square, .shift.buttons, .shift.block {
  transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  -webkit-transform: skew(-10deg);
}

/**
/// Backend Style
**/
.swp-revoke-button,
.swp-authorization-button {
  width: 70%;
  text-align: center;
  max-width: 200px;
}

.swfw-input-field,
.swfw-follow-field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 15px auto;
}

.swfw-follow-field.swfw-inactive a {
  cursor: initial;
}
.swfw-follow-field.swfw-active a {
  cursor: pointer;
}

.swfw-follow-field-icon {
  font-size: 30px;
  line-height: 22px;
  font-weight: bold;
  transition: all 300ms;
  border-radius: 3px;
}

.swfw-widget label {
  font-size: 14px;
  width: 100px;
}

.swfw-follow-field label {
  text-align: right;
}

.swfw-input-field input,
.swfw-input-field select,
.swfw-follow-field input {
  padding: 15px;
  width: 50%;
  height: 100%;
  border-radius: 4px;
}

.swfw-follow-field-icon {
  width: 40px;
}

/*# sourceMappingURL=style.css.map */
